

.img-block{
      padding: 0px;
      box-shadow: 52px 52px 74px 0 rgb(115 131 169 / 8%);
      margin-bottom: 30px;
      
      }
      .img-block img{
        border-radius: 16px 16px 16px 16px;
      }
    .block {
    padding: 30px;
    box-shadow: 52px 52px 74px 0 rgb(115 131 169 / 8%);
    border-radius: 10px;
    margin-bottom: 30px;
    border: solid 1px #f3f4f7;
    background: white;
}
.apply-card-btn:hover{
  background-color: #0caeee;
  color: #fff!important;
  transition: .5s ease-in-out
}

@media only screen and (max-width: 600px) {
.login-btn {
    margin: 0 auto;
    display: block;
    width: 42%;
    margin-bottom: 10px;
}
}